<%- include('partials/header.ejs') %>

<h1 class="text-cyan-400">Hello World!</h1>
<!-- <button formaction="/" formmethod="post">Redirect to home link</button> -->

<form method="get">
    <label for="submit">Login:</label>
    <input type="submit" formaction="/login">
    <label for="submit">Get Auth Token:</label>
    <input type="submit" formaction="/token">
</form>

<form action="/search" method="post">
    <label for="songQuery">Search for a song:</label>
    <input type="text" id="songQuery" name="songQuery">
    <label for="searchType">Select search type:</label>
    <select name="searchType" id="searchType">
        <option value="artist">Artist</option>
        <option value="album">Album</option>
        <option value="track">Song Name</option>
    </select>
    <label for="searchLimit">Limit:</label>
    <input type="number" name="searchLimit" id="searchLimit" value="21">
    <button type="submit">Search!</button>
</form>

<form action="/showBearer" method="post">
    <label for="submit">Show Bearer Token:</label>
    <input type="submit" formaction="/showBearer">
</form>

<div class="grid grid-cols-3 w-screen h-1/2">
    <% if (locals.data) { %>
        <% if (locals.data[0].searchType == "song") { %>
            <% for(let i=0;i<data.length;i++) { %>
                <div class="flex justify-center mb-4">
                    <img src=<%=data[i].songCover%> alt="">
                    <div class="details-div">
                        <h2><%=data[i].songName%></h2>
                        <h3><%=data[i].albumName%></h3>
                        <h3><%=data[i].artistName%></h3>
                        <h4><%=data[i].songRunTime%></h4>
                    </div>
                </div>
            <% } %>
        <% } else if (locals.data[0].searchType == "album") {%>
            <% for(let i=0;i<data.length;i++) { %>
                <div class="flex justify-center mb-4">
                    <img src=<%=data[i].albumCover%> alt="">
                    <div class="details-div">
                        <h2><%=data[i].albumName%></h2>
                        <h3><%=data[i].artistName%></h3>
                        <h3><%=data[i].albumType%></h3>
                        <h4><%=data[i].albumYear%></h4>
                    </div>
                </div>
            <% } %>
        <% } else if (locals.data[0].searchType == "artist") {%>
            <% for(let i=0;i<data.length;i++) { %>
                <div class="flex justify-center mb-4">
                    <img src=<%=data[i].artistPicture%> alt="">
                    <div class="details-div">
                        <h2><%=data[i].artistName%></h2>
                        <h3><%=data[i].artistGenre%></h3>
                        <h4><%=data[i].artistFollowers%></h4>
                    </div>
                </div>
            <% } %>
        <% } %>%>
    <% } %>
</div>




<% if (locals.bearToken) { %>
    <h1>Your bearer token is: <%= bearToken %></h1>
<% } %>
    
<%- include('partials/footer.ejs') %>