<%- include('partials/header.ejs') %>

<h1 class="text-cyan-400">Hello World!</h1>
<!-- <button formaction="/" formmethod="post">Redirect to home link</button> -->

<form method="get">
    <label for="submit">Login:</label>
    <input type="submit" formaction="/login">
    <label for="submit">Get Auth Token:</label>
    <input type="submit" formaction="/token">
</form>

<form action="/search" method="post">
    <label for="songQuery">Search for a song:</label>
    <input type="text" id="songQuery" name="songQuery">
    <label for="searchType">Select search type:</label>
    <select name="searchType" id="searchType">
        <option value="artist">Artist</option>
        <option value="album">Album</option>
        <option value="track">Song Name</option>
    </select>
    <label for="searchLimit">Limit:</label>
    <input type="number" name="searchLimit" id="searchLimit">
    <button type="submit">Search!</button>
</form>

<form action="/showBearer" method="post">
    <label for="submit">Show Bearer Token:</label>
    <input type="submit" formaction="/showBearer">
</form>

<% if (locals.data) { %>
    <% for(let i=0;i<data.length;i++) { %>
        <ul class="w-1/4 h-1/4 bg-slate-600 mb-8 p-4 box-border">
            <li>Song Name: <%=data[i].songName%></li>
            <li>Album Name: <%=data[i].albumName%></li>
            <li>Artists Name: <%=data[i].artistName%></li>
            <li>Song Run Time: <%=data[i].songRunTime%></li>
        </ul>
    <% } %>
<% } %>

<h1>Test card</h1>
<ul style="background-image: url('https://i.scdn.co/image/ab67616d0000b2731f44db452a68e229650a302c');">
    <li>Escapism</li>
    <li>Escapsim</li>
    <li>TEMPLIME, some Japanese artist</li>
    <li>4:21</li>
</ul>

<% if (locals.bearToken) { %>
    <h1>Your bearer token is: <%= bearToken %></h1>
<% } %>
    
<%- include('partials/footer.ejs') %>